<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/assets/socket.io/socket.io.js"></script>

        <script type="text/javascript" src="/assets/js/tools.js"></script>


    </head>
    <body>
        <div class="container">
            <h2>Bienvenue dans le cours <%= title %></h2>
            <div id="interrogations_container" class="container"></div>

            <input type="text" placeholder="Entrez votre question" id="interrogation-content">
            <button type="button" name="button" class="btn btn-primary" id="interrogation-submit">Envoyer</button>
        </div>
    </body>

    <script type="text/javascript" src="/assets/socket.io/client_socket.js"></script>
    <script type="text/javascript">
        let course_id = <%- JSON.stringify(title) %>

        function makeList(el, interrogations) {
            el.innerHTML = ""

            for(i in interrogations) {
                let cont = document.createElement('div')

                let panel = document.createElement('div')
                panel.classList.add('panel', 'panel-default')

                let line = document.createElement('div')
                line.classList.add('panel-body')
                line.appendChild(document.createTextNode(interrogations[i].i))

                let upvotes = document.createElement('span')
                upvotes.classList.add('badge')
                upvotes.appendChild(document.createTextNode(interrogations[i].upvotes.length))

                let submit_btn = document.createElement('button')
                submit_btn.classList.add('btn', 'btn-success')
                submit_btn.appendChild(document.createTextNode("Upvote "))
                submit_btn.appendChild(upvotes)

                panel.style.display = "inline-block"
                submit_btn.style.display = "inline-block"

                panel.appendChild(line)
                cont.appendChild(panel)
                cont.appendChild(submit_btn)

                el.appendChild(cont)

                $(submit_btn).on('click', ((id) => {
                    emit('upvote interrogation', {
                        id : id,
                        course_id : course_id
                    })
                }).bind(this, interrogations[i]._id))
            }
        }

        socket.on('interrogations list', (interrogations) => {
            makeList(document.getElementById('interrogations_container'), interrogations)
        })

        $('#interrogation-submit').on('click', () => {
            emit('new interrogation', {
                content : $('#interrogation-content').val(),
                course_id : course_id
            })
            $('#interrogation-content').val("")
        })

        emit('get interrogations', course_id)

    </script>
</html>
