<head>
    <meta charset="utf-8">
    <title><%= header_title %></title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/js/tools.js"></script>
</head>
