<!DOCTYPE html>
<html>

<% include head %>

<body>
    <div id="root"></div>
</body>

<script type="text/javascript" src="/assets/socket.io/client_socket.js"></script>
<script type="text/javascript" src="/assets/js/bundle.js"></script>

</html>
