@font-face {
    src : url('../fonts/OfficeCodePro-Medium.ttf');
    font-family : 'Office Code Pro';
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


/* bootstrap 3 helpers */
.navbar-form input, .form-inline input {
	width:auto;
}

.navbar {
    margin-bottom:0;
}

.subnav {
   margin:0;
  top: 0px;
  z-index: 1020;
  background-color: rgb(247,247,247);
  border-bottom: 1px solid #E1E1E1;
  padding: 8px 0px 0px 0px;
}

.subnav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.btn {
    margin-right: .5vw;
}


/* main css */
#container {
    margin-top : 1vh;
}

.ppt-heading {
    font-family : 'Office Code Pro';
    display : inline-block;
    margin-right: .5vw;
}
.ppt-author {
    display : inline-block;
}

.btn-upvote {
    float : right;
    margin : 0;
    margin-left : 1vw;
}

.badge-upvote {
    margin-left : .5vw;
    background : none;
}

#validated {
    display : none;
}
#closed {
    display : none;
}

#loader {
    position : absolute;
    width : 100vw;
    height : auto;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

dt {
    color: #1e5d78;
}

#course_title {
    color: #1e5d78;
}
